html{
    background-color: rgb(58, 58, 58);
    font-family: fantasy;
}

header{
    margin: 0;
    max-height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
header h1{
    font-size: 32px;
}

.div_mobile{
    display: none;
}

.logo{
    padding-left: 24px;
    display: flex;
    transition: all 1s ease 0s;
}

.logo:hover{
    cursor: pointer;
}

.st{
    color: darkcyan;
}

.menu{
    display: flex;
    margin-right: 24px;
}

.menu p{
    margin-left: 16px;
    border-radius: 20px;
    transition: all 1s ease 0s;
}

.menu p:hover {
    background-color: darkcyan;
    color: black;
    cursor: pointer;
}

.banner1 {
    display: flex;
    background-color: rgb(76, 78, 78);
}

.banner1 img {
    padding: 32px 24px;
    max-width:60%;
}

.banner1Text{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.banner1 h1{
    color: darkcyan;
    margin-bottom: 0;
    padding-bottom: 0;
}

.banner1 button{
    padding: 8px 0px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: darkcyan;
    border: darkcyan;
    transition: all 1s ease 0s;
}

.banner1 button:hover{
    background-color: gray;
}

.banner2 {
    display: flex;
}

.banner2_1{
    margin: 32px 24px;
    width: 60%;
    line-height: 24px;
}

.banner2_1 img{
    width: 100%;
}

.banner2_2{
    margin-top: 32px;
    width: 40%;
    align-items: center;
}

.banner2_1 h1{
    color: darkcyan;
}

.banner2_2_square1{
    display: flex;
    border: rgb(27, 36, 36) 1px solid;
    transition: all 1s ease 0s;
    margin: 16px;
}

.banner2_2_square1:hover{
    background-color: darkcyan;
    cursor: pointer;
}

.banner2_2_square1 img{
    width: 35%;
    height: auto;
}

.banner2_2_square1_text{
    width: 65%;
    line-height: 8px;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.banner2_2_square2{
    display: flex;
    border: rgb(27, 36, 36) 1px solid;
    transition: all 1s ease 0s;
    margin: 16px;
}

.banner2_2_square2:hover{
    background-color: darkcyan;
    cursor: pointer;
}

.banner2_2_square2 img{
    width: 35%;
    height: auto;
}

.banner2_2_square2_text{
    width: 65%;
    line-height: normal;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.banner2_2_square3{
    display: flex;
    border: rgb(27, 36, 36) 1px solid;
    transition: all 1s ease 0s;
    margin: 16px;
}

.banner2_2_square3:hover{
    background-color: darkcyan;
    cursor: pointer;
}

.banner2_2_square3 img{
    width: 35%;
    height: auto;
}

.banner2_2_square3_text{
    width: 65%;
    line-height: 8px;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.banner2_2_square3_text p{
    line-height: 30px;
}

.banner3{
    background-color: rgb(76, 78, 78);
}

.banner3 h1{
    padding: 16px;
    text-align: center;
    color:darkcyan;
}

.banner3 h2{
    padding: 16px;
    text-align: left;
    color:darkcyan;
}

.banner3_box {
    display: flex;
    padding: 32px 72px;
    flex-wrap: wrap;
    text-align: left;
    align-items: center;
    justify-content: center;
}

.banner3_box img{
    max-width: 100%;
}

.banner3_box_1,
.banner3_box_2,
.banner3_box_3,
.banner3_box_4,
.banner3_box_5,
.banner3_box_6{
    margin: 16px;
    width: 30%;
    background-color:rgb(58, 58, 58) ;
}

.banner3_box_1 p,
.banner3_box_2 p,
.banner3_box_3 p,
.banner3_box_4 p,
.banner3_box_5 p,
.banner3_box_6 p{
    margin: 0px 16px 24px 16px;
    line-height: normal;
}

footer{
    display: flex;
    justify-content: space-between;
    color: darkcyan;
    background-color: rgb(58, 58, 58);
    border-top: darkcyan 3px solid;
}

.b_4h{
    text-align: center;
    color: darkcyan;
}

.banner4 {
    display: flex;
}

.banner4_1 {
    margin: 32px 24px;
    width: 60%;
    line-height: auto;
}

.banner4_1 h1 {
    color: darkcyan;
}

.banner4_1 video {
    max-width: 100%;
    max-height: auto;
}

.banner4_2 {
    margin-top: 32px;
    width: 40%;
    align-items: center;
}

.banner4_2_square1,
.banner4_2_square2,
.banner4_2_square3 {
    display: flex;
    border: rgb(27, 36, 36) 1px solid;
    transition: all 1s ease 0s;
    margin: 16px;
}

.banner4_2_square1:hover,
.banner4_2_square2:hover,
.banner4_2_square3:hover {
    background-color: darkcyan;
    cursor: pointer;
}

.banner4_2_square1 img,
.banner4_2_square2 img,
.banner4_2_square3 img {
    width: 35%;
    height: auto;
}

.banner4_2_square1_text,
.banner4_2_square2_text,
.banner4_2_square3_text {
    width: 65%;
    line-height: 8px;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-wrap: wrap;
}

.banner4_2_square3_text p {
    line-height: 30px;
}

@media only screen and (min-width:320px) and (max-width: 768px){
    
    header{
        display: none;
    }

    .banner1 {
        display: flex;
        flex-direction: column;
        background-color: rgb(76, 78, 78);
        justify-content: center;
        align-content: center;
        text-align: center;
    }

    .banner1 img{
        max-width: 100%;
        padding: 0px;
        margin: 0px;
    }

    .banner1 h1{
        margin: 32px 16px;
    }

    .banner1 h2{
        margin-bottom: 24px;
    }
    
    .banner1 button{
        margin-bottom: 32px;
    }

    .banner2_1{
        display: none;
    }
    
    .banner2_2{
        width: 100%;
    }

    .banner3 h1{
        margin: 32px auto auto 16px;
    }

    .banner3 h2{
        text-align: center;
    }

    .banner3 p,
    .banner3 img{
        display: none;
    }

    .banner3_box{
        flex-direction: column;
    }

    .banner3_box_1,
    .banner3_box_2,
    .banner3_box_3,
    .banner3_box_4,
    .banner3_box_5,
    .banner3_box_6{
        width: 100%;
        margin: 8px auto auto 0;
    }
    
    .banner4 img,
    .banner4 p,
    .banner4 h1,
    .banner4 a,
    .banner4 h2,
    .banner4_2_square1,
    .banner4_2_square2,
    .banner4_2{
        display: none;
    }

    .banner4 video,
    .banner4_1{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .div_mobile{
        display: flex !important;
        align-content: space-between;
        justify-content: space-around;
        padding: 20px;
        width: 100%;
        background-color: darkcyan;
    }

    .div_mobile img{
        
    }
}